@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(bootstrap.css);

body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 900;
  background: var(--bs-success);
  height: 100vh;
}

main {
  background: radial-gradient(
    circle,
    rgb(25, 135, 84) 0%,
    rgb(0, 0, 0, 0.5) 100%
  );
  width: inherit;
  height: inherit;
}

.board {
  position: relative;
  height: 100vh;
}

.container {
  position: relative;
  height: inherit;
}

.outline-success {
  outline: 4px solid var(--bs-success);
}

/* this code is used to position elements in the middle X & Y */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* this code is used to style all the cards in the game */

.a_cards {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(10, auto);
}

.s_card {
  background: var(--bs-gray-100);
  position: relative;
  width: 85px;
  height: 120px;
  border-radius: 12px;
  box-shadow: -1px 1px rgb(0, 0, 0, 0.2);
  transition: 0.3s;
}

.s_card span {
  font-size: 25px;
  line-height: 20px;

  position: absolute;
  top: 10px;
  left: 10px;
}

.s_card svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  transform: translate(-50%, -50%);
}

/* this code sets the svg suit to the appropriate suit color */

.text-danger svg {
  fill: var(--bs-danger);
}

.text-black svg {
  fill: var(--bs-black-rgb);
}

/* this code divides board sections */

.deck_of_cards {
  left: 15px;
  width: 85px;
  height: 120px;
  border-radius: 12px;
}

.deck_of_cards .s_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deck_of_cards .s_card::after {
  content: "";

  background: var(--bs-danger);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.board .top,
.board .bottom {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 85px;
  height: 120px;
  transform: translateX(-50%);
  border-radius: 12px;
  outline: 4px solid transparent;
  transition: 0.3s;

  display: grid;
  grid-template-columns: repeat(10, 40px);
}

.top .s_card::after,
.bottom .s_card::after {
  content: "";

  background: var(--bs-danger);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.bottom .s_card::after {
  background: transparent;
}

.board .bottom {
  top: auto;
  bottom: 50px;
}

.board .bottom:hover {
  outline: 4px solid var(--bs-teal);
}

.bottom .s_card {
  cursor: pointer;
}

.bottom .s_card:hover {
  margin-left: -10px;
}

.bottom .s_card:nth-last-child(1):hover {
  margin-left: 0;
}

/* this code allocates cards at the top or bottom */

.card-top {
  position: absolute;
  margin-top: calc(-50vh + 120px - 8px - 2px);
  margin-left: calc(50vw - 85px);
  transform: none;
  transition: 0.3s;
}

.card-bottom {
  position: absolute;
  margin-top: calc(50vh - 120px + 8px + 2px);
  margin-left: calc(50vw - 85px);
  transform: none;
  transition: 0.3s;
}
